@model HotelMVC.ViewModels.ReservationFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reserve a Room</h2>

@using (Html.BeginForm("Create", "Reservations"))
{
    <p class="alert alert-info">Every field is <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Rooms)
        @Html.DropDownListFor(m => m.RoomId, new SelectList(Model.Rooms, "Id", "Name"), "", new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.RoomId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ArrivalDateString)
        @Html.TextBoxFor(m => m.ArrivalDateString, new { @class = "form-control", placeholder = "E.g. 2 Nov 2016" })
        @Html.ValidationMessageFor(m => m.ArrivalDateString)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DepartureDateString)
        @Html.TextBoxFor(m => m.DepartureDateString, new { @class = "form-control", placeholder = "E.g. 20 Nov 2016" })
        @Html.ValidationMessageFor(m => m.DepartureDateString)
    </div>
    <button type="submit" value="Save" class="btn btn-primary">Submit</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


