@model HotelMVC.ViewModels.ReservationFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reserve a Room</h2>

@using (Html.BeginForm("Create", "Reservations"))
{
    <p class="alert alert-warning">Every field is <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Rooms)
        @Html.DropDownListFor(m => m.Room, new SelectList(Model.Rooms, "Id", "Name"), "", new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Room)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ArrivalDate)
        @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ArrivalDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DepartureDate)
        @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DepartureDate)
    </div>
    <button type="submit" value="Save" class="btn btn-primary">Submit</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


